---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class='max-w-2xl mx-auto flex items-center py-5'>
  <div class='flex items-center flex-1'>
    <h2>
      {SITE_TITLE}
    </h2>
    <nav>
      <HeaderLink href='/'>Home</HeaderLink>
      <HeaderLink href='/blog'>Blog</HeaderLink>
      <HeaderLink href='/about'>About</HeaderLink>
      <HeaderLink href='https://twitter.com/astrodotbuild' target='_blank'>
        Twitter
      </HeaderLink>
      <HeaderLink href='https://github.com/withastro/astro' target='_blank'>
        GitHub
      </HeaderLink>
    </nav>
  </div>
</header>
