---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { Image } from '@astrojs/image/components'
import profilePic from '../images/profile-pic.png'
import TwitterIcon from '../components/TwitterIcon.astro'
import GithubIcon from '../components/GithubIcon.astro'
import '../styles/global.css'
import '@fontsource/inter/400.css'
import '@fontsource/inter/300.css'
import '@fontsource/fira-code'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-zinc-800 min-h-screen text-zinc-50 px-4'>
    <header class='max-w-2xl mx-auto flex items-center py-5'>
      <div class='flex items-center flex-1'>
        <Image
          src={profilePic}
          width={100}
          height={100}
          alt='Profile picture'
          class='rounded-full mr-4 w-12'
        />
        <a href='/' class='text-xl sm:text-2xl text-zinc-100'>{SITE_TITLE}</a>
      </div>
      <a
        href='https://twitter.com/laurak_cleve'
        target='_blank'
        rel='noopener noreferrer'
      >
        <TwitterIcon className='fill-emerald-300 w-6' />
      </a>
      <a
        href='https://github.com/laurakcleve'
        target='_blank'
        rel='noopener noreferrer'
      >
        <GithubIcon className='fill-emerald-300 ml-5' />
      </a>
    </header>
    <main class='max-w-2xl mx-auto mt-8'>
      <slot />
    </main>
    <footer
      class='max-w-2xl mx-auto text-center text-sm font-light text-zinc-400 pt-16 pb-8'
    >
      <hr class='border-zinc-700 pb-16' />
      © {new Date().getFullYear()}, Built with{' '}
      <a href='https://astro.build/'>Astro</a>
    </footer>
  </body>
</html>
