---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { Picture } from '@astrojs/image/components'
import profilePic from '../images/profile-pic.png'
import TwitterIcon from '../components/TwitterIcon.astro'
import GithubIcon from '../components/GithubIcon.astro'
import '../styles/global.css'
import '@fontsource/inter/400.css'
import '@fontsource/inter/300.css'
import '@fontsource/fira-code'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-zinc-800 min-h-screen text-zinc-50 px-4'>
    <header class='max-w-2xl mx-auto flex items-center py-5'>
      <a
        href='/'
        class='text-xl sm:text-2xl text-zinc-100 flex items-center flex-1'
      >
        <Picture
          src={profilePic}
          width={360}
          height={360}
          widths={[100, 50]}
          sizes='(max-width: 640px) 100px, 50px'
          loading='eager'
          alt='Profile picture'
          class='rounded-full mr-4 w-12'
        />
        {SITE_TITLE}
      </a>

      <a
        href='https://twitter.com/laurak_cleve'
        target='_blank'
        rel='noopener noreferrer'
        aria-label='Twitter'
        class='w-12 h-12 flex items-center justify-center'
      >
        <TwitterIcon className='w-7 fill-emerald-300' />
      </a>
      <a
        href='https://github.com/laurakcleve'
        target='_blank'
        rel='noopener noreferrer'
        aria-label='Github'
        class='w-12 h-12 flex items-center justify-center'
      >
        <GithubIcon className='w-7 fill-emerald-300' />
      </a>
    </header>
    <main class='max-w-2xl mx-auto mt-8'>
      <slot />
    </main>
    <footer
      class='max-w-2xl mx-auto text-center text-sm font-light text-zinc-400 pt-16 pb-8'
    >
      <hr class='border-zinc-700 pb-16' />
      © {new Date().getFullYear()}, Built with{' '}
      <a href='https://astro.build/'>Astro</a>
    </footer>
  </body>
</html>
