---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
type Props = CollectionEntry<'blog'>['data']

const { title, date, updatedDate, heroImage } = Astro.props
---

<BaseLayout>
  <article>
    {heroImage && <img width={720} height={360} src={heroImage} alt='' />}
    <header class='mb-14'>
      <h1 class='text-3xl font-normal my-3'>
        {title}
      </h1>
      <p class='text-sm text-zinc-300'>
        {
          date.toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })
        }
      </p>
    </header>
    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }
    <div class='prose prose-invert max-w-none'>
      <slot />
    </div>
  </article>
</BaseLayout>
